
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    background-color: #F4F7FE;
}
/* button */
button{
    border: none;
}

/* banner section */
.nav-bar{
    display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: #4E47FF;
  font-size: 34px;
  margin: 0 150px;
}
.nav-bar button{
    background-color: rgba(78, 71, 255, 1);
    border-radius: 10px;
    padding: 12px 36px;
    color: white;
}
.head-content{
    text-align: center;
    padding: 100px;
    font-size: 50px;
}
.head-content button{
    background-color:rgba(78, 71, 255, 1);
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.head-container{
    background-position: 100px;
    padding: 10px 30;
}
/* main section */
.main-container {
  max-width: 1140px;
  margin: 0 auto;
}

/* action section */
.action-container{
    display: flex;
    gap: 150px;
    margin: 116px auto;
    justify-content: space-between;
    font-size: 42px;
    font: bold;
}
.action-sub-content{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
.action-container button{
    border-radius: 10px;
    background-color: rgba(78, 71, 255, 1);
    color: white;
    padding: 10px;
    }
.action-container img{
    border-radius: 20px;
}
/* productive section */
.productive-container{
    text-align: center;
    margin: 0px auto;
    border-radius: 20px;
    padding: 80px 50px;
    background-color: rgba(78, 71, 255, 0.1);
    font-size: 38px;
    color: #19191b;
}
.productive-content{
    display: flex;
    justify-content: center;
    gap: 200px;

}
.productive-content h1{
    color: rgba(78, 71, 255, 1);
    font-size: 80px;
    font: bold;
}
.productive-content p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
/* user feedback section */
.user-containertwo {
  display: flex;
  justify-content: space-between;
}
.user-say-container h1 {
  text-align: center;
}
.user-say-sub-container {
  background-color: white;
  padding: 25px;
  border-radius: 20px;
}
.user-say-content {
  display: flex;
}
.review-name {
  display: flex;
  gap: 10px;
}
.review-name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.review-name h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.user-say-container{
    margin: 116px auto;
}